<div
  class="container-fluid mt-4"
  style="
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
  "
>
  <div *ngIf="isLoadingAdvertises; else advertises">
    <app-loading-atm></app-loading-atm>
  </div>
  <ng-template #advertises
    ><div class="row">
      <h2 *ngIf="items?.length === 0 && cityData; else houseAdvertise">
        آگهی ثبت شده ای در شهر
        <span style="color: red">{{ cityData.city_name }}</span>
        وجود ندارد. شهر دیگری را انتخاب کنید.
      </h2>
      <ng-template #houseAdvertise>
        <div
          @fadeInOut
          class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
          *ngFor="let item of items"
        >
          <div class="card mb-4 card-shadow" style="overflow: hidden">
            <!-- <img
        src="{{ item.image }}"
        class="card-img-top"
        alt="{{ item.title }}"
      />  -->
            <div class="row">
              <div class="col-12 card-head">
                <app-carousel [images]="item.files"></app-carousel>
                <!-- <app-carousel [images]="item.files.images"></app-carousel> -->
                <!-- <carousel [(activeSlide)]="activeSlideIndex">
            <slide *ngFor="let slide of slides; let index = index">
              <img
              [src]="slide.image"
              alt="image slide"
              style="display: block; width: 100%; direction: ltr"
              />
              
              <div class="carousel-caption">
                <h4>Slide {{ index }}</h4>
                <p>{{ slide.text }}</p>
              </div>
            </slide> 
          </carousel>
          -->
              </div>
            </div>
            <div class="card-body">
              <div class="title mt-3">
                <h5
                  class="card-title"
                  [ngClass]="{
                    red: item.advertise.advertiseType === 'rent',
                    green: item.advertise.advertiseType === 'sell'
                  }"
                >
                  {{
                    (item.advertise.advertiseType === "sell" && "فروش") ||
                      (item.advertise.advertiseType === "rent" && "اجاره")
                  }}
                </h5>
                <div
                  style="
                    display: flex;
                    flex-direction: row !important;
                    align-items: baseline !important;
                    justify-content: space-between !important;
                  "
                >
                  <span
                    *ngIf="item.advertise.isHighlighted"
                    class="high-light-main high-light"
                    >هایلایت
                  </span>
                  <span
                    *ngIf="item.advertise.isRated || true"
                    class="high-light-main rated-advertise-high-light mx-2"
                    >برگزیده
                  </span>
                </div>
              </div>
              <div class="card-data-container">
                <div class="card-details">
                  <span> <app-elevator-svg></app-elevator-svg></span>
                  <app-thereis-or-not
                    [determineCheckedOrUnchecked]="item.advertise.hasElevator"
                  ></app-thereis-or-not>
                </div>
                <div class="card-details">
                  <app-bedroom-svg></app-bedroom-svg
                  ><span style="font-size: 1.1rem">{{
                    "       :  " + item.advertise.rooms
                  }}</span>
                </div>
                <div class="card-details">
                  <app-parking-svg></app-parking-svg>
                  <app-thereis-or-not
                    [determineCheckedOrUnchecked]="
                      item.advertise.parkingType &&
                      item.advertise.parkingType !== 'none'
                    "
                  ></app-thereis-or-not>
                </div>
                <!--
          <h5 class="card-details">{{ "اتاق: " + item.roomCount }}</h5>
          <h5 class="card-details">
            {{ item.hasParking ? "پارکینگ دارد" : "پارکینگ ندارد" }}
          </h5>
          -->
              </div>

              <div
                [ngClass]="{
                  'red-shadow': item.advertise.advertiseType === 'rent',
                  'green-shadow': item.advertise.advertiseType === 'rent'
                }"
                class="card-price-container my-3"
                style="height: 5rem"
              >
                <container-element [ngSwitch]="item.advertise.advertiseType">
                  <h5 *ngSwitchCase="'rent'" class="card-details price">
                    {{ " رهن: " + item.advertise.rentPrice }}
                  </h5>
                  <h5 *ngSwitchCase="'rent'" class="card-details price">
                    {{ " اجاره: " + item.advertise.depositPrice }}
                  </h5>
                  <h5 *ngSwitchCase="'sell'" class="card-details price">
                    {{ " قیمت : " + item.advertise.price }}
                  </h5>
                </container-element>
              </div>
              <div class="card-data-container">
                <p class="advertise-date">3 روز پیش</p>
                <p
                  *ngIf="item.advertise.advertiseType === 'rent'"
                  class="empty-date"
                >
                  تخلیه {{ "1403/3/2" }}
                </p>
              </div>

              <!-- <a href="#" class="btn btn-primary" style="margin: auto 0">Buy Now</a> -->
            </div>
          </div>
        </div>
      </ng-template>
    </div></ng-template
  >
</div>
