<div class="container-fluid p-3">
  <div class="row justify-content-center p-3">
    <div
      class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 card p-3"
      style="height: 100%; width: 80%"
    >
      <div class="card-body">
        <div class="card-title text-center mb-5">
          <h3 class="font-title">
            ثبت آگهی <span class="brand-font">پلان</span>
          </h3>
        </div>

        <!-- ///////////////////////////////////// -->
        <app-uploadfile
          (onUploadFinished)="uploadFinish($event)"
        ></app-uploadfile>
        <div *ngIf="imageData && imageData.length > 0">
          <div class="row">
            <div
              *ngFor="let data of imageData"
              class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-3"
            >
              <div class="square-image-container my-2">
                <button
                  type="button"
                  class="btn m-1 btn-danger"
                  (click)="deleteImage(data)"
                >
                  <fa-icon
                    class="icon-class justify-content-center align-item-center"
                    [icon]="icon"
                  ></fa-icon>
                </button>
                <img
                  [src]="createImagePath(data.dbPath)"
                  class="img-thumbnail square-image rounded"
                  alt="Uploaded Image"
                />
              </div>
            </div>
          </div>
        </div>
        <div>
          <form [formGroup]="advertiseForm">
            <div class="row mb-3">
              <h3>مشحصات ملک مسکونی</h3>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>متراژ زمین</mat-label>
                  <input
                    formControlName="groundMeter"
                    matInput
                    placeholder="متراژ زمین "
                    (change)="hint($event, 'groundMeter')"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('groundMeter')?.invalid &&
                      (advertiseForm.get('groundMeter')?.dirty ||
                        advertiseForm.get('groundMeter')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('groundMeter')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('groundMeter')?.errors?.['invalidNumber'] && !advertiseForm.get('groundMeter')?.errors?.['required']"
                      >متراژ زمین را به عدد وارد کنید.</span
                    >
                  </mat-error>
                  <mat-hint *ngIf="hintDescription">{{
                    hintDescription
                  }}</mat-hint>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>متراژ واحد</mat-label>
                  <input
                    formControlName="houseMeter"
                    matInput
                    placeholder="متراژ واحد"
                    (change)="hint($event, 'houseMeter')"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('houseMeter')?.invalid &&
                      (advertiseForm.get('houseMeter')?.dirty ||
                        advertiseForm.get('houseMeter')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('houseMeter')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('houseMeter')?.errors?.['invalidNumber'] && !advertiseForm.get('houseMeter')?.errors?.['required']"
                      >متراژ را به عدد وارد کنید.</span
                    >
                  </mat-error>
                  <mat-hint *ngIf="hintDescription">{{
                    hintDescription
                  }}</mat-hint>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>متراژ واحد</mat-label>
                  <input
                    formControlName="houseMeter"
                    matInput
                    placeholder="متراژ واحد"
                    (change)="hint($event, 'houseMeter')"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('houseMeter')?.invalid &&
                      (advertiseForm.get('houseMeter')?.dirty ||
                        advertiseForm.get('houseMeter')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('houseMeter')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('houseMeter')?.errors?.['invalidNumber'] && !advertiseForm.get('houseMeter')?.errors?.['required']"
                      >متراژ را به عدد وارد کنید.</span
                    >
                  </mat-error>
                  <mat-hint *ngIf="hintDescription">{{
                    hintDescription
                  }}</mat-hint>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
            </div>
          </form>

          <!-- //////////////////////////////////////////         -->
        </div>
      </div>
    </div>
  </div>
</div>
