<div class="container-fluid p-3">
  <div class="row justify-content-center p-3">
    <div
      class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 card p-3"
      style="height: 100%; width: 80%"
    >
      <div class="card-body">
        <div class="row card-title text-center justify-content-center mb-5">
          <h3 class="font-title">
            ثبت آگهی <span class="brand-font">پلان</span>
          </h3>
          <div
            class="col-xs-12 col-sm-6 col-md-4 col-lg-3 btn-group btn-group"
            role="group"
          >
            <button type="button" class="btn btn-outline-danger">خانه</button>
            <button type="button" class="btn btn-outline-danger">مغازه</button>
          </div>
        </div>

        <!-- ///////////////////////////////////// -->
        <app-uploadfile
          (onUploadFinished)="uploadFinish($event)"
        ></app-uploadfile>
        <div *ngIf="imageData && imageData.length > 0">
          <div class="row">
            <div
              *ngFor="let data of imageData"
              class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-3"
            >
              <div class="square-image-container my-2">
                <button
                  type="button"
                  class="btn m-1 btn-danger"
                  (click)="deleteImage(data)"
                >
                  <fa-icon
                    class="icon-class justify-content-center align-item-center"
                    [icon]="icon"
                  ></fa-icon>
                </button>
                <img
                  [src]="createImagePath(data.dbPath)"
                  class="img-thumbnail square-image rounded"
                  alt="Uploaded Image"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <form [formGroup]="advertiseForm">
            <div class="row mb-3">
              <h3>مشحصات ملک</h3>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>نوع واحد مسکونی</mat-label>
                  <mat-select
                    (selectionChange)="determineHouseType($event)"
                    formControlName="houseType"
                    placeholder="نوع واحد مسکونی"
                  >
                    <mat-option
                      *ngFor="let houseType of houseTypes"
                      [value]="houseType.value"
                    >
                      {{ houseType.desc }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      advertiseForm.get('houseType')?.invalid &&
                      (advertiseForm.get('houseType')?.dirty ||
                        advertiseForm.get('houseType')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('houseType')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    ></mat-error
                  >
                </mat-form-field>
              </div>

              <!-- *************************** -->
              <div
                *ngIf="buildingType"
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <!-- <mat-label>{{
                    buildingType !== "Villaie" ? "متراژ واحد" : "زیربنا"
                  }}</mat-label> -->
                  <mat-label>{{
                    buildingType && buildingType !== "Villaie"
                      ? "متراژ واحد"
                      : "زیربنا"
                  }}</mat-label>
                  <input
                    formControlName="houseMeter"
                    matInput
                    placeholder="{{ buildingType ? 'متراژ واحد' : 'زیربنا' }}"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('houseMeter')?.invalid &&
                      (advertiseForm.get('houseMeter')?.dirty ||
                        advertiseForm.get('houseMeter')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('houseMeter')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('houseMeter')?.errors?.['invalidNumber'] && !advertiseForm.get('houseMeter')?.errors?.['required']"
                      >متراژ را به عدد وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>تعداد اتاق</mat-label>
                  <input
                    formControlName="rooms"
                    matInput
                    placeholder="تعداد اتاق"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('rooms')?.invalid &&
                      (advertiseForm.get('rooms')?.dirty ||
                        advertiseForm.get('rooms')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('rooms')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('rooms')?.errors?.['invalidNumber'] && !advertiseForm.get('rooms')?.errors?.['required']"
                      >تعداد اتاق را به عدد وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-checkbox
                  class="align-item-center mx-2"
                  formControlName="hasElevator"
                  >آسانسور دارد؟</mat-checkbox
                >
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-checkbox
                  class="align-item-center mx-2"
                  #housewareCheckbox
                  (change)="hasHouseWare = housewareCheckbox.checked"
                  formControlName="hasHouseWare"
                  >انباری دارد؟</mat-checkbox
                >
              </div>
              <div
                *ngIf="hasHouseWare"
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field
                  [@slideRightInOut]
                  class="w-100"
                  appearance="outline"
                >
                  <mat-label>متراژ انباری</mat-label>
                  <input
                    formControlName="wareHouse"
                    matInput
                    placeholder="متراژانباری "
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('wareHouse')?.invalid &&
                      (advertiseForm.get('wareHouse')?.dirty ||
                        advertiseForm.get('wareHouse')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('wareHouse')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('wareHouse')?.errors?.['invalidNumber'] && !advertiseForm.get('wareHouse')?.errors?.['required']"
                      >متراژ انباری را به عدد وارد کنید.</span
                    >
                  </mat-error>

                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <!-- /////////////////////// -->
              <div
                *ngIf="
                  buildingType === 'Villaie' || buildingType === 'ShakhsiSaz'
                "
                [@slideRightInOut]
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>متراژ زمین</mat-label>
                  <input
                    formControlName="groundMeter"
                    matInput
                    placeholder="متراژ زمین "
                    (change)="hint($event, 'groundMeter')"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('groundMeter')?.invalid &&
                      (advertiseForm.get('groundMeter')?.dirty ||
                        advertiseForm.get('groundMeter')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('groundMeter')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('groundMeter')?.errors?.['invalidNumber'] && !advertiseForm.get('groundMeter')?.errors?.['required']"
                      >متراژ زمین را به عدد وارد کنید.</span
                    >
                  </mat-error>
                  <mat-hint *ngIf="hintDescription">{{
                    hintDescription
                  }}</mat-hint>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <div
                *ngIf="
                  buildingType === 'Villaie' || buildingType === 'ShakhsiSaz'
                "
                [@slideRightInOut]
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>تعداد طبقات</mat-label>
                  <input
                    formControlName="floors"
                    matInput
                    placeholder="تعداد طبقات"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('floors')?.invalid &&
                      (advertiseForm.get('floors')?.dirty ||
                        advertiseForm.get('floors')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('floors')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('floors')?.errors?.['invalidNumber'] && !advertiseForm.get('floors')?.errors?.['required']"
                      >تعداد طبقات را به عدد وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div
                *ngIf="buildingType === 'Villaie'"
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>موقعیت</mat-label>
                  <mat-select formControlName="state" placeholder="موقعیت">
                    <mat-option
                      *ngFor="let state of states"
                      [value]="state.value"
                    >
                      {{ state.desc }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      advertiseForm.get('state')?.invalid &&
                      (advertiseForm.get('state')?.dirty ||
                        advertiseForm.get('state')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('state')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    ></mat-error
                  >
                </mat-form-field>
              </div>
              <div
                *ngIf="
                  buildingType === 'Villaie' || buildingType === 'ShakhsiSaz'
                "
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>ضلع زمین</mat-label>
                  <mat-select
                    formControlName="orientations"
                    placeholder="ضلع زمین"
                  >
                    <mat-option
                      *ngFor="let orientation of orientations"
                      [value]="orientation.value"
                    >
                      {{ orientation.desc }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      advertiseForm.get('orientations')?.invalid &&
                      (advertiseForm.get('orientations')?.dirty ||
                        advertiseForm.get('orientations')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('orientations')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    ></mat-error
                  >
                </mat-form-field>
              </div>
              <div
                *ngIf="
                  buildingType === 'Mojtama' || buildingType === 'ShakhsiSaz'
                "
                [@slideRightInOut]
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>طبقه</mat-label>
                  <input
                    formControlName="floor"
                    matInput
                    placeholder="طبقه واحد فروشی"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('floor')?.invalid &&
                      (advertiseForm.get('floor')?.dirty ||
                        advertiseForm.get('floor')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('floor')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('floor')?.errors?.['invalidNumber'] && !advertiseForm.get('floor')?.errors?.['required']"
                      >طبقه واحد را به عدد وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>

              <div
                *ngIf="
                  buildingType === 'Mojtama' || buildingType === 'ShakhsiSaz'
                "
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>{{
                    buildingType && buildingType === "Mojtama"
                      ? "نام مجتمع"
                      : "نام ساختمان"
                  }}</mat-label>
                  <input
                    formControlName="buildingName"
                    matInput
                    placeholder="{{
                      buildingType && buildingType === 'Mojtama'
                        ? 'نام مجتمع'
                        : 'نام ساختمان'
                    }}"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('buildingName')?.invalid &&
                      (advertiseForm.get('buildingName')?.dirty ||
                        advertiseForm.get('buildingName')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('buildingName')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('buildingName')?.errors?.['invalidPersianLetter'] && !advertiseForm.get('buildingName')?.errors?.['required']"
                      >نام مجتمع را به فارسی وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div
                *ngIf="buildingType === 'ShakhsiSaz'"
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>تعداد واحد ها</mat-label>
                  <input
                    formControlName="allUnits"
                    matInput
                    placeholder=".تعداد واحدها را وارد کنید"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('allUnits')?.invalid &&
                      (advertiseForm.get('allUnits')?.dirty ||
                        advertiseForm.get('allUnits')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('allUnits')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('allUnits')?.errors?.['invalidNumber'] && !advertiseForm.get('allUnits')?.errors?.['required']"
                      >تعداد واحدها را به عدد وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div
                *ngIf="
                  buildingType === 'Mojtama' || buildingType === 'ShakhsiSaz'
                "
                class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
              >
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>پارکینگ</mat-label>
                  <mat-select
                    formControlName="parkingType"
                    placeholder="پارکینگ"
                  >
                    <mat-option
                      *ngFor="let parkingType of parkingTypes"
                      [value]="parkingType.value"
                    >
                      {{ parkingType.desc }}
                    </mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="
                      advertiseForm.get('parkingType')?.invalid &&
                      (advertiseForm.get('parkingType')?.dirty ||
                        advertiseForm.get('parkingType')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('parkingType')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    ></mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>قیمت</mat-label>
                  <input
                    formControlName="price"
                    matInput
                    placeholder="قیمت را وارد کنید"
                  />
                  <mat-error
                    *ngIf="
                      advertiseForm.get('price')?.invalid &&
                      (advertiseForm.get('price')?.dirty ||
                        advertiseForm.get('price')?.touched)
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('price')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="advertiseForm.get('price')?.errors?.['invalidNumber'] && !advertiseForm.get('price')?.errors?.['required']"
                      >قیمت را به عدد وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col col-12 p-3">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>توضیحات</mat-label>
                  <textarea
                    rows="4"
                    cols="50"
                    matInput
                    formControlName="desc"
                    placeholder="توضیحاتی راجع به منزل بدهید مثلا نوساز است یا تعمیر شده است"
                  ></textarea>
                  <mat-error
                    *ngIf="
                      advertiseForm.get('desc')?.invalid ||
                      advertiseForm.get('desc')?.dirty
                    "
                  >
                    <span
                      *ngIf="advertiseForm.get('desc')?.errors?.['invalidPersianLetter'] "
                      >توضیحات را فارسی وارد کنید.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <app-province-and-city title="محل ملک"></app-province-and-city>
              <div class="row">
                <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>نام محله</mat-label>
                    <input
                      formControlName="neighbourhood"
                      matInput
                      placeholder="نام محله"
                    />
                    <mat-error
                      *ngIf="
                        advertiseForm.get('neighbourhood')?.invalid &&
                        (advertiseForm.get('neighbourhood')?.dirty ||
                          advertiseForm.get('neighbourhood')?.touched)
                      "
                    >
                      <span
                        *ngIf="advertiseForm.get('neighbourhood')?.errors?.['required'] "
                        >این فیلد نباید خالی باشد.</span
                      >
                      <span
                        *ngIf="advertiseForm.get('neighbourhood')?.errors?.['invalidPersianLetter'] && !advertiseForm.get('neighbourhood')?.errors?.['required']"
                        >نام مجتمع را به فارسی وارد کنید.</span
                      >
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>

          <!-- //////////////////////////////////////////         -->
        </div>
      </div>
    </div>
  </div>
</div>
