<div class="container-fluid" style="text-align: center">
  <div class="row viewport">
    <div
      class="col-12 order-2 col-md-5 col-xl-6 card advertiseData"
      style="height: inherit; scroll-snap-align: start"
    >
      <div class="card-body" style="direction: rtl">
        <div class="title border-gradient-purple border-gradient mt-3">
          <h5 class="card-title w-100">
            {{
              (advertiseData?.advertise?.advertiseType === "rent" &&
                advertiseData?.advertise.neighborhood &&
                "اجاره " + advertiseData?.advertise.neighborhood) ||
                (advertiseData?.advertise?.advertiseType === "sell" &&
                  advertiseData?.advertise.neighborhood &&
                  "فروش " + advertiseData?.advertise.neighborhood)
            }}
          </h5>
          <button class="btn btn-danger p-2" (click)="navigateTo()">گپ</button>
        </div>
        <div class="row seprator margin-x-0">
          <div class="col col-xs-4">
            <h5 class="w-100 details" style="text-align: center">
              <span>پارکینگ </span>

              <span
                ><app-thereis-or-not
                  [determineCheckedOrUnchecked]="
                    advertiseData?.advertise.hasParking
                  "
                ></app-thereis-or-not
              ></span>
            </h5>
          </div>
          <div class="col col-xs-4">
            <h5 class="w-100 details" style="text-align: center">
              <span>انباری </span>

              <span
                ><app-thereis-or-not
                  [determineCheckedOrUnchecked]="
                    advertiseData?.advertise.hasWareHouse
                  "
                ></app-thereis-or-not
              ></span>
            </h5>
          </div>
          <div class="col col-xs-4">
            <h5 class="w-100 details" style="text-align: center">
              <span>آسانسور </span>

              <span
                ><app-thereis-or-not
                  [determineCheckedOrUnchecked]="
                    advertiseData?.advertise.hasElevator
                  "
                ></app-thereis-or-not
              ></span>
            </h5>
          </div>
        </div>
        <div
          *ngIf="advertiseData?.advertise?.advertiseType === 'rent'"
          class="row seprator"
        >
          <container-element
            [ngSwitch]="advertiseData?.advertise.branchStatus"
            class="col col-xs-12 col-sm-6"
          >
            <h5 *ngSwitchCase="'ABG_joda'" class="w-100 details">
              <span>انشعابات: </span>انشعابات مستقل
            </h5>
            <h5 *ngSwitchCase="'AB_joda'" class="w-100 details">
              <span>انشعابات: </span>آب و برق مستقل گاز مشترک
            </h5>
            <h5 *ngSwitchCase="'AG_joda'" class="w-100 details">
              <span>انشعابات: </span>آب و گاز مستقل برق مشترک
            </h5>
            <h5 *ngSwitchCase="'BG_joda'" class="w-100 details">
              <span>انشعابات: </span>برق و گاز مستقل آب مشترک
            </h5>
            <h5 *ngSwitchCase="'A_joda'" class="w-100 details">
              <span>انشعابات: </span>آب مستقل
            </h5>
            <h5 *ngSwitchCase="'B_joda'" class="w-100 details">
              <span>انشعابات: </span>برق مستقل
            </h5>
            <h5 *ngSwitchCase="'G_joda'" class="w-100 details">
              <span>انشعابات: </span>گاز مستقل
            </h5>
            <h5 *ngSwitchCase="'moshtarak'" class="w-100 details">
              <span>انشعابات: </span>انشعابات مشترک
            </h5>
          </container-element>
          <container-element
            [ngSwitch]="advertiseData?.advertise.entryType"
            class="col col-xs-12 col-sm-6"
          >
            <h5 *ngSwitchCase="'independent_entry'" class="w-100 details">
              <span>ورودی: </span>
              <span class="mark">مستقل</span>
            </h5>
            <h5 *ngSwitchCase="'common_entry'" class="w-100 details">
              <span>ورودی: </span> <span>مشترک</span>
            </h5>
          </container-element>
        </div>
        <div class="row seprator">
          <!-- 
               flatStatusTypes: any = [
      { value: 'new', desc: 'نو ساخت' },
      { value: 'repair', desc: 'تعمیر شده' },
      // { value: 'luxury', desc: 'لوکس' },
      { value: 'regular', desc: 'تمیز' },
    ]; -->
          <div
            class="col col-xs-12 col-sm-6"
            *ngIf="
              advertiseData?.advertise.flatStatusType &&
              advertiseData?.advertise?.advertiseType === 'rent'
            "
          >
            <container-element
              [ngSwitch]="advertiseData?.advertise.flatStatusType"
            >
              <h5 *ngSwitchCase="'new'" class="w-100 details">
                <span>وضعیت واحد: </span>
                <span class="mark">نوساز</span>
              </h5>
              <h5 *ngSwitchCase="'repair'" class="w-100 details">
                <span>وضعیت واحد: </span> <span>بازسازی شده</span>
              </h5>
              <h5 *ngSwitchCase="'regular'" class="w-100 details">
                <span>وضعیت واحد: </span> <span>تمیز</span>
              </h5>
            </container-element>
          </div>
          <div
            class="col col-xs-12 col-sm-6"
            *ngIf="
              advertiseData?.advertise.houseType !== 'Mojtama' &&
              advertiseData?.advertise?.advertiseType === 'sell'
            "
          >
            <h5 class="w-100 details">
              <span>جهت : </span>

              <container-element
                [ngSwitch]="advertiseData?.advertise.orientation"
              >
                <span *ngSwitchCase="'shomali'">شمالی</span>
                <span *ngSwitchCase="'Jonobi'">ویلایی</span>

                <span *ngSwitchCase="'Nabsh_Shomali'">نبش شمالی</span>
                <span *ngSwitchCase="'Nabsh_Junobi'">نبش جنوبی</span>
                <span *ngSwitchCase="'Do_Bahr'">دو بر</span>
                <span *ngSwitchCase="'Do_Bahr_Do_Nabsh'">دو بر دو نبش</span>
              </container-element>
            </h5>
          </div>
          <div
            class="col col-xs-12 col-sm-6"
            *ngIf="
              advertiseData?.advertise.houseType === 'Mojtama' &&
              advertiseData?.advertise?.advertiseType === 'sell'
            "
          >
            <h5 class="w-100 details">
              <span>نام مجتمع: </span>
              <span>{{ advertiseData?.advertise.buildingName }}</span>
            </h5>
          </div>
          <div
            *ngIf="advertiseData?.advertise.houseType"
            class="col col-xs-12 col-sm-6"
          >
            <h5 class="w-100 details">
              <span>نوع واحد: </span>
              <container-element
                [ngSwitch]="advertiseData?.advertise.houseType"
              >
                <span
                  *ngSwitchCase="'Mojtama'"
                  [ngClass]="{
                    mark: advertiseData.advertise.advertiseType === 'rent'
                  }"
                  >مجتمع</span
                >
                <span *ngSwitchCase="'Villaie'">ویلایی</span>

                <span *ngSwitchCase="'ShakhsiSaz'">شخصی ساز</span>
              </container-element>
            </h5>
          </div>

          <!-- م.قعیت -->
          <div
            class="col col-xs-12 col-sm-6"
            *ngIf="
              advertiseData?.advertise?.advertiseType === 'sell' &&
              advertiseData?.advertise.houseType === 'Villaie'
            "
          >
            <h5 class="w-100 details">
              <span>موقعیت: </span>

              <container-element [ngSwitch]="advertiseData?.advertise.state">
                <span *ngSwitchCase="'Tejari_Maskuni'" class="mark"
                  >تجاری مسکونی
                </span>
                <span *ngSwitchCase="'Maskuni'">مسکونی</span>
              </container-element>
            </h5>
          </div>
          <!-- متراژ تجاری -->
          <div
            class="col col-xs-12 col-sm-6"
            *ngIf="
              advertiseData?.advertise?.advertiseType === 'sell' &&
              advertiseData?.advertise.state === 'Tejari_Maskuni' &&
              advertiseData?.advertise.houseType === 'Villaie'
            "
          >
            <h5 class="w-100 details">
              <span>متراژ تجاری: </span>

              <span>{{ advertiseData?.advertise.tejariMeter }}</span>
            </h5>
          </div>

          <div
            class="col col-xs-12 col-sm-6"
            *ngIf="
              advertiseData?.advertise?.advertiseType === 'sell' &&
              advertiseData?.advertise.houseDocument
            "
          >
            <h5 class="w-100 details">
              <span>وضعیت سند: </span>
              <container-element
                [ngSwitch]="advertiseData?.advertise.houseDocument"
              >
                <span *ngSwitchCase="'has-document'" class="mark">دارد</span>
                <span *ngSwitchCase="'has-document-diposite'">سند در رهن </span>
                <span *ngSwitchCase="'contract'">قولنامه </span>
                <span *ngSwitchCase="'other'">سایر </span>
              </container-element>
            </h5>
          </div>
          <div
            class="col col-xs-12 col-sm-6"
            *ngIf="
              advertiseData?.advertise.houseType !== 'Villaie' &&
              advertiseData?.advertise?.advertiseType === 'sell' &&
              advertiseData?.advertise.parkingType !== 'none'
            "
          >
            <h5 class="w-100 details">
              <span>پارکینگ: </span>
              <container-element
                [ngSwitch]="advertiseData?.advertise.parkingType"
              >
                <span *ngSwitchCase="'mohavate'">محوطه (حیاط)</span>
                <span *ngSwitchCase="'mossaghaf'" class="mark">مسقف</span>
              </container-element>
            </h5>
          </div>
        </div>
        <div class="row seprator">
          <div
            class="col col-xs-12"
            [ngClass]="{
              'col-sm-4': advertiseData?.advertise.floor,
              'col-sm-6': !advertiseData?.advertise.floor
            }"
          >
            <h5 class="w-100 details">
              <span>متراژ: </span>
              <span>{{ advertiseData?.advertise.houseMeter + " متر" }}</span>
            </h5>
          </div>

          <div
            class="col col-xs-12"
            [ngClass]="{
              'col-sm-4': advertiseData?.advertise.floor,
              'col-sm-6': !advertiseData?.advertise.floor
            }"
          >
            <h5 class="w-100 details">
              <span>اتاق: </span>
              <span>{{ advertiseData?.advertise.rooms }}</span>
            </h5>
          </div>
          <div
            *ngIf="advertiseData?.advertise.floor"
            class="col col-xs-12 col-sm-4"
          >
            <h5 class="w-100 details">
              <span>طبقه: </span>
              <span>{{ advertiseData?.advertise.floor }}</span>
            </h5>
          </div>
        </div>
        <div
          class="row seprator"
          *ngIf="advertiseData?.advertise?.advertiseType === 'rent'"
        >
          <container-element
            [ngSwitch]="advertiseData?.advertise.rentFlatType"
            classcol-xs-12="col-12 "
          >
            <h5 *ngSwitchCase="'rahn_kamel'" class="w-100 details">
              <span>نوع اجاره: </span>
              <span class="mark">رهن کامل</span>
            </h5>
            <h5 *ngSwitchCase="'rahn_ejare'" class="w-100 details">
              <span>نوع اجاره: </span> <span>رهن و اجاره </span>
            </h5>
            <h5 *ngSwitchCase="'rahne_kamel_darbast'" class="w-100 details">
              <span>نوع اجاره: </span>
              <span class="mark">دربست رهن کامل </span>
            </h5>
            <h5 *ngSwitchCase="'rahne_ejare_darbast'" class="w-100 details">
              <span>نوع اجاره: </span>
              <span class="mark">رهن و اجاره دربست </span>
            </h5>
          </container-element>
        </div>
        <div class="title border-gradient-purple border-gradient mt-3">
          <h5 class="card-title w-100">
            {{
              (advertiseData?.advertise?.advertiseType === "rent" &&
                " مبلغ رهن و اجاره") ||
                (advertiseData?.advertise?.advertiseType === "sell" && "قیمت ")
            }}
          </h5>
        </div>
        <div class="row seprator">
          <div
            class="col-12"
            *ngIf="advertiseData?.advertise?.advertiseType === 'sell'"
          >
            <h5 class="w-100 details">
              <span>قیمت: </span>
              <span
                >{{
                  advertiseData?.advertise?.price | numberSeprator
                }}
                ریال</span
              >
            </h5>
          </div>

          <div
            class="col-12"
            *ngIf="advertiseData?.advertise?.advertiseType === 'rent'"
          >
            <h5 class="w-100 details">
              <span>اجاره: </span>
              <span
                >{{
                  advertiseData?.advertise?.rentPrice | numberSeprator
                }}
                ریال</span
              >
            </h5>
          </div>
          <div
            class="col-12"
            *ngIf="advertiseData?.advertise?.advertiseType === 'rent'"
          >
            <h5 class="w-100 details">
              <span>رهن: </span>
              <span
                >{{
                  advertiseData?.advertise?.depositPrice | numberSeprator
                }}
                ریال</span
              >
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 order-1 col-md-7 col-xl-6"
      style="height: inherit; scroll-snap-align: start"
    >
      <app-carousel [imagesFiles]="advertiseData?.files"></app-carousel>
    </div>
  </div>
</div>
<!-- </div> -->
