<!-- <p>common works!</p> -->
<ng-container [formGroup]="form">
  <h3>مشحصات کلی ملک</h3>
  <div class="row mb-3">
    <!-- House Type -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>نوع واحد مسکونی</mat-label>
        <mat-select
          (selectionChange)="determineHouseType($event)"
          formControlName="houseType"
          placeholder="نوع واحد مسکونی"
        >
          <mat-option
            *ngFor="let houseType of houseTypes"
            [value]="houseType.value"
          >
            {{ houseType.desc }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('houseType')?.invalid &&
            (form.get('houseType')?.dirty || form.get('houseType')?.touched)
          "
        >
          <span *ngIf="form.get('houseType')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- House Meter -->
    <div
      *ngIf="buildingType"
      [@slideRightInOut]
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          buildingType === "Villaie" && advertiseType === "sell"
            ? "زیربنا"
            : "متراژ واحد"
        }}</mat-label>
        <!-- <mat-label *ngIf="advertiseType === 'rent'">متراژ واحد</mat-label> -->
        <input
          formControlName="houseMeter"
          matInput
          placeholder="{{ buildingType ? 'متراژ واحد' : 'زیربنا' }}"
          (input)="hint(houseMeter, 'houseMeter')"
          #houseMeter
          (keypress)="onKeyPress_onlyNumber($event)"
        />
        <mat-error
          *ngIf="
            form.get('houseMeter')?.invalid &&
            (form.get('houseMeter')?.dirty || form.get('houseMeter')?.touched)
          "
        >
          <span *ngIf="form.get('houseMeter')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('houseMeter')?.errors?.['invalidNumber'] && !form.get('houseMeter')?.errors?.['required']"
          >
            متراژ را به عدد وارد کنید.
          </span>
        </mat-error>
        <mat-hint *ngIf="houseMeterHintDesc">{{ houseMeterHintDesc }}</mat-hint>
      </mat-form-field>
    </div>

    <!-- Rooms -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>تعداد اتاق</mat-label>
        <input
          (keypress)="onKeyPress_onlyNumber($event)"
          formControlName="rooms"
          matInput
          placeholder="تعداد اتاق"
        />
        <mat-error
          *ngIf="
            form.get('rooms')?.invalid &&
            (form.get('rooms')?.dirty || form.get('rooms')?.touched)
          "
        >
          <span *ngIf="form.get('rooms')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('rooms')?.errors?.['invalidNumber'] && !form.get('rooms')?.errors?.['required']"
          >
            تعداد اتاق را به عدد وارد کنید.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Has Elevator -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox class="align-item-center mx-2" formControlName="hasElevator"
        >آسانسور دارد؟</mat-checkbox
      >
    </div>

    <!-- Has House Ware -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox
        class="align-item-center mx-2"
        #housewareCheckbox
        (change)="hasHouseWare = housewareCheckbox.checked"
        (change)="
          determineWareHouseValidator(housewareCheckbox.checked, advertiseType)
        "
        formControlName="hasHouseWare"
        >انباری دارد؟</mat-checkbox
      >
    </div>

    <!-- Ware House Meter -->
    <div
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
      *ngIf="hasHouseWare && advertiseType === 'sell'"
      [@slideRightInOut]
    >
      <mat-form-field [@slideRightInOut] class="w-100" appearance="outline">
        <mat-label>متراژ انباری</mat-label>
        <input
          formControlName="wareHouseMeter"
          matInput
          placeholder="متراژانباری "
          (input)="hint(wareHouseMeter, 'wareHouseMeter')"
          #wareHouseMeter
          (keypress)="onKeyPress_onlyNumber($event)"
        />
        <mat-error
          *ngIf="
            form.get('wareHouseMeter')?.invalid &&
            (form.get('wareHouseMeter')?.dirty ||
              form.get('wareHouseMeter')?.touched)
          "
        >
          <span *ngIf="form.get('wareHouseMeter')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('wareHouseMeter')?.errors?.['invalidNumber'] && !form.get('wareHouseMeter')?.errors?.['required']"
          >
            متراژ انباری را به عدد وارد کنید.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-hint *ngIf="wareHouseMeterHintDesc">{{
        wareHouseMeterHintDesc
      }}</mat-hint>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox
        class="align-item-center mx-2"
        #parkingCheckbox
        (change)="hasParking = parkingCheckbox.checked"
        (change)="
          determineParkingValidator(
            parkingCheckbox.checked,
            advertiseType,
            buildingType
          )
        "
        formControlName="hasParking"
        >پارکینگ دارد؟</mat-checkbox
      >
    </div>
    <!-- Parking Type -->
    <div
      *ngIf="
        advertiseType === 'sell' &&
        hasParking &&
        (buildingType === 'Mojtama' || buildingType === 'ShakhsiSaz')
      "
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
      [@slideRightInOut]
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>پارکینگ</mat-label>
        <mat-select formControlName="parkingType" placeholder="پارکینگ">
          <mat-option
            *ngFor="let parkingType of parkingTypes"
            [value]="parkingType.value"
          >
            {{ parkingType.desc }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('parkingType')?.invalid &&
            (form.get('parkingType')?.dirty || form.get('parkingType')?.touched)
          "
        >
          <span *ngIf="form.get('parkingType')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Building Name -->
    <div
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
      *ngIf="buildingType === 'Mojtama' || buildingType === 'ShakhsiSaz'"
      [@slideRightInOut]
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          buildingType === "Mojtama" ? "نام مجتمع" : "نام ساختمان"
        }}</mat-label>
        <input
          formControlName="buildingName"
          matInput
          placeholder="{{
            buildingType === 'Mojtama' ? 'نام مجتمع' : 'نام ساختمان'
          }}"
        />
        <mat-error
          *ngIf="
            form.get('buildingName')?.invalid &&
            (form.get('buildingName')?.dirty ||
              form.get('buildingName')?.touched)
          "
        >
          <span *ngIf="form.get('buildingName')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('buildingName')?.errors?.['invalidPersianLetter'] && !form.get('buildingName')?.errors?.['required']"
          >
            نام مجتمع را به فارسی وارد کنید.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Floor -->
    <div
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
      *ngIf="
        advertiseType &&
        (buildingType === 'Mojtama' || buildingType === 'ShakhsiSaz')
      "
      [@slideRightInOut]
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          advertiseType === "rent" ? "طبقه واحد اجاره" : "طبقه واحد فروشی"
        }}</mat-label>
        <input
          formControlName="floor"
          matInput
          placeholder="{{
            advertiseType === 'rent' ? 'طبقه واحد اجاره' : 'طبقه واحد فروشی'
          }}"
        />
        <mat-error
          *ngIf="
            form.get('floor')?.invalid &&
            (form.get('floor')?.dirty || form.get('floor')?.touched)
          "
        >
          <span *ngIf="form.get('floor')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('floor')?.errors?.['invalidNumber'] && !form.get('floor')?.errors?.['required']"
          >
            طبقه واحد را به عدد وارد کنید.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Orientations -->
    <div
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
      *ngIf="buildingType === 'Villaie' || buildingType === 'ShakhsiSaz'"
      [@slideRightInOut]
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>ضلع زمین</mat-label>
        <mat-select formControlName="orientations" placeholder="ضلع زمین">
          <mat-option
            *ngFor="let orientation of orientations"
            [value]="orientation.value"
          >
            {{ orientation.desc }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('orientations')?.invalid &&
            (form.get('orientations')?.dirty ||
              form.get('orientations')?.touched)
          "
        >
          <span *ngIf="form.get('orientations')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </div></ng-container
>
