/* You can add global styles to this file, and also import other style files */
/* "src/assets/Fonts/fonts.css" */
* {
  padding: 0;
  margin: 0;
  font-family: "IranSans", "nazanin", "Courier New", Courier, monospace;
}
body {
  /* background-color: #fff; */
  background: linear-gradient(#ffe0e0, #ffffff, #e1e1ff);
  /* background: linear-gradient(#ffffff, #c5c5c5, #a7a7a7); */
  overflow: auto;
  width: 100vw;
  min-height: 98vh !important;
}
::-webkit-scrollbar {
  /* width: 10px; */
  width: 0;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #d55959;
}

/* html,
body {
  height: 100%;
  
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} */
/* html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #d55959;
} */
