<!-- <p [@flipInOut]>home works!</p> -->
<!-- <h1 #typedElement></h1> -->
<div class="container-fluid p-3">
  <div class="row justify-content-center p-3">
    <!-- <h1 id="typed" ></h1> -->
    <h1 class="tracking-in-contract">پلان</h1>
  </div>
  <!-- <div style="width: 500px; height: 200px; margin: 0 auto">
    
  </div> -->
  <!-- <md-persian-datepicker ng-model="birthday"></md-persian-datepicker> -->
</div>
<!-- <h2 class="animated-text">I'm a <span></span></h2> -->
<!-- <app-province-and-city></app-province-and-city> -->
