* {
  font-family: "IranianSans", "nazanin", "Courier New", Courier, monospace !important;
  /* color: #080710 !important; */
}

.card {
  background-color: transparent;
  border: 0px solid #ced5f5;
  /* border-radius: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* -webkit-backdrop-filter: blur(10px); */
  /* backdrop-filter: blur(10px); */
}
.font-title {
  font-family: "IranianSans", "Rezvan", "Courier New", Courier, monospace !important;
  font-size: 0.975rem;
  margin-bottom: 0.5rem;
}
.brand-font {
  font-family: "IranianSans", "sogand", "Courier New", Courier, monospace !important;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0 10px;
  width: 100%;
}
.rtl {
  direction: rtl;
}
.btn-group {
  display: flex;
  justify-content: center; /* Center the button group */
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap; /* Make it responsive */
}
.bold-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: black;
}
/* .btn {
  background-color: #dc3545;
  color: aliceblue;
} */
.active-link {
  background-color: #dc3545 !important; /* Example: Change background color */
  color: white !important; /* Example: Change text color */
  box-shadow: #dc354697 0px 2px 5px !important;
}

.disactive {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  transition: all 0.5s ease-in-out;
  background-color: #dc354630;
}

.disactive:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
  background-color: #dc3545 !important;
}
.border-x-not {
  border: 0 !important;

  /* border-right: 0 !important;
  border-left: 0 !important; */
}
/* .red-border {
  box-sizing: content-box !important;
  padding: 0;
  border: 1px solid #dc3545 !important;
} */
.form-container-class {
  /* height: 80vh; */
  width: 100%;
  /* overflow-y: auto; */
}
.parent-container {
  /* height: calc(95vh - 4rem - 1rem - 0.5rem); */
  height: calc(100vh - 4rem - 1rem);
  overflow: hidden;
}
/* .row-container {
} */
.prevent-select {
  -webkit-user-select: none;
  user-select: none;
}
.padding-0 {
  padding: 0;
}
.my-advertises-header {
  height: 5rem;
}
