<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  version="1.1"
  width="28"
  height="28"
  viewBox="0 0 256 256"
  xml:space="preserve"
  style="cursor: pointer"
>
  <title>آسانسور</title>
  <defs></defs>
  <g
    style="
      stroke: none;
      stroke-width: 0;
      stroke-dasharray: none;
      stroke-linecap: butt;
      stroke-linejoin: miter;
      stroke-miterlimit: 10;
      fill: none;
      fill-rule: nonzero;
      opacity: 1;
    "
    transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
  >
    <rect
      x="17.5"
      y="33.75"
      rx="0"
      ry="0"
      width="55"
      height="39.83"
      style="
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: rgb(214, 214, 214);
        fill-rule: nonzero;
        opacity: 1;
      "
      transform=" matrix(1 0 0 1 0 0) "
    />
    <rect
      x="7.98"
      y="12.47"
      rx="0"
      ry="0"
      width="74.05"
      height="9.27"
      style="
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: rgb(214, 214, 214);
        fill-rule: nonzero;
        opacity: 1;
      "
      transform=" matrix(1 0 0 1 0 0) "
    />
    <path
      d="M 89 6.091 H 1 c -0.552 0 -1 0.448 -1 1 v 75.818 c 0 0.553 0.448 1 1 1 h 11.002 c 0.552 0 1 -0.447 1 -1 v -2.833 h 63.996 v 2.833 c 0 0.553 0.447 1 1 1 H 89 c 0.553 0 1 -0.447 1 -1 V 7.091 C 90 6.539 89.553 6.091 89 6.091 z M 13.002 78.076 v -48.83 H 44 v 48.83 H 13.002 z M 46 78.076 v -48.83 h 30.998 v 48.83 H 46 z M 88 81.909 h -9.002 v -2.833 v -50.83 c 0 -0.552 -0.447 -1 -1 -1 H 12.002 c -0.552 0 -1 0.448 -1 1 v 50.83 v 2.833 H 2 V 8.091 h 86 V 81.909 z"
      style="
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: rgb(124, 124, 124);
        fill-rule: nonzero;
        opacity: 1;
      "
      transform=" matrix(1 0 0 1 0 0) "
      stroke-linecap="round"
    />
    <path
      d="M 37.392 21.042 c 0.188 0.188 0.442 0.293 0.707 0.293 s 0.52 -0.105 0.707 -0.293 l 4.824 -4.825 c 0.391 -0.391 0.391 -1.023 0 -1.414 s -1.023 -0.391 -1.414 0 l -4.117 4.118 l -4.117 -4.118 c -0.391 -0.391 -1.023 -0.391 -1.414 0 s -0.391 1.023 0 1.414 L 37.392 21.042 z"
      style="
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: rgb(0, 0, 0);
        fill-rule: nonzero;
        opacity: 1;
      "
      transform=" matrix(1 0 0 1 0 0) "
      stroke-linecap="round"
    />
    <path
      d="M 47.784 21.042 l 4.117 -4.118 l 4.117 4.118 c 0.195 0.195 0.451 0.293 0.707 0.293 s 0.512 -0.098 0.707 -0.293 c 0.391 -0.391 0.391 -1.023 0 -1.414 l -4.824 -4.825 c -0.375 -0.375 -1.039 -0.375 -1.414 0 l -4.824 4.825 c -0.391 0.391 -0.391 1.023 0 1.414 S 47.394 21.433 47.784 21.042 z"
      style="
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: rgb(0, 0, 0);
        fill-rule: nonzero;
        opacity: 1;
      "
      transform=" matrix(1 0 0 1 0 0) "
      stroke-linecap="round"
    />
    <path
      d="M 83.502 53.302 c 0.553 0 1 -0.447 1 -1 V 48.73 c 0 -0.553 -0.447 -1 -1 -1 s -1 0.447 -1 1 v 3.571 C 82.502 52.854 82.949 53.302 83.502 53.302 z"
      style="
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: rgb(0, 0, 0);
        fill-rule: nonzero;
        opacity: 1;
      "
      transform=" matrix(1 0 0 1 0 0) "
      stroke-linecap="round"
    />
    <path
      d="M 83.502 62.327 c 0.553 0 1 -0.447 1 -1 v -3.571 c 0 -0.553 -0.447 -1 -1 -1 s -1 0.447 -1 1 v 3.571 C 82.502 61.88 82.949 62.327 83.502 62.327 z"
      style="
        stroke: none;
        stroke-width: 1;
        stroke-dasharray: none;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-miterlimit: 10;
        fill: rgb(0, 0, 0);
        fill-rule: nonzero;
        opacity: 1;
      "
      transform=" matrix(1 0 0 1 0 0) "
      stroke-linecap="round"
    />
  </g>
</svg>
