<div
  class="container-fluid mt-4"
  style="
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
  "
>
  <div class="row">
    <div
      @fadeInOut
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
      *ngFor="let item of items"
    >
      <div class="card mb-4 card-shadow" style="overflow: hidden">
        <!-- <img
          src="{{ item.image }}"
          class="card-img-top"
          alt="{{ item.title }}"
        />  -->
        <div class="row">
          <div class="col-12 card-head">
            <app-carousel [images]="item.images"></app-carousel>
            <!-- <carousel [(activeSlide)]="activeSlideIndex">
              <slide *ngFor="let slide of slides; let index = index">
                <img
                [src]="slide.image"
                alt="image slide"
                style="display: block; width: 100%; direction: ltr"
                />
                
                <div class="carousel-caption">
                  <h4>Slide {{ index }}</h4>
                  <p>{{ slide.text }}</p>
                </div>
              </slide> 
            </carousel>
            -->
          </div>
        </div>
        <div class="card-body">
          <div class="title mt-3">
            <h5
              class="card-title"
              [ngClass]="{
                red: item.advertiseType === 'sell',
                green: item.advertiseType === 'rent'
              }"
            >
              {{ item.title }}
            </h5>
            <div
              style="
                display: flex;
                flex-direction: row !important;
                align-items: baseline !important;
                justify-content: space-between !important;
              "
            >
              <span
                *ngIf="item.isHighlighted"
                class="high-light-main high-light"
                >هایلایت
              </span>
              <span
                *ngIf="item.isRated"
                class="high-light-main rated-advertise-high-light mx-2"
                >برگزیده
              </span>
            </div>
          </div>
          <div class="card-data-container">
            <div class="card-details">
              <span> <app-elevator-svg></app-elevator-svg></span>
              <app-thereis-or-not
                [determineCheckedOrUnchecked]="item.hasElevator"
              ></app-thereis-or-not>
            </div>
            <div class="card-details">
              <app-bedroom-svg></app-bedroom-svg
              ><span style="font-size: 1.3rem">{{
                "       :    " + item.roomCount
              }}</span>
            </div>
            <div class="card-details">
              <app-parking-svg></app-parking-svg>
              <app-thereis-or-not
                [determineCheckedOrUnchecked]="item.hasParking"
              ></app-thereis-or-not>
            </div>
            <!--
            <h5 class="card-details">{{ "اتاق: " + item.roomCount }}</h5>
            <h5 class="card-details">
              {{ item.hasParking ? "پارکینگ دارد" : "پارکینگ ندارد" }}
            </h5>
            -->
          </div>

          <div
            [ngClass]="{
              'red-shadow': item.advertiseType === 'sell',
              'green-shadow': item.advertiseType === 'rent'
            }"
            class="card-price-container my-3"
            style="height: 5rem"
          >
            <h5 class="card-details price">
              {{ "مبلغ رهن: " + item.roomCount }}
            </h5>
            <h5 class="card-details price">
              {{ "مبلغ اجاره: " + item.roomCount }}
            </h5>
          </div>
          <div class="card-data-container">
            <p class="advertise-date">3 روز پیش</p>
            <p *ngIf="item.advertiseType === 'rent'" class="empty-date">
              تخلیه {{ "1403/3/2" }}
            </p>
          </div>

          <!-- <a href="#" class="btn btn-primary" style="margin: auto 0">Buy Now</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
