<!-- <div class="home-body">
  <div class="myContainer">
    <div class="header-class">
      <app-header [brandTitle]="title" (onOpenCityModal)="isModalOpen = $event">
      </app-header>
    </div>
    <app-select-cities
      (onCloseCityModal)="isModalOpen = $event"
      *ngIf="isModalOpen"
    ></app-select-cities>
    <div class="content-class">-->
<div
  class="container-fluid row align-items-start justify-content-center"
  style="height: 100%; width: 100vw"
>
  <!-- <div
          class="col-xs-12 col-sm-12 col-md-4 col-lg-3 bg-dark align-self-start"
          style="height: 40%"
        >
          sideBar
        </div> -->
  <!-- ///////////////////////////////////////////// -->

  <!-- <div
    *ngFor="let rentData of loadedRentAdvertises"
    class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-3 pl-0"
  >
    <app-rentitem [rentItemData]="rentData"></app-rentitem>
  </div> -->
  <!-- ///////////////////////////////////////////// -->
  <app-card></app-card>

  <!--</div>
 </div>
  </div>
</div> -->
</div>
