<div
  [ngClass]="{ AdvertiseDetailePageStyle: isInAdvertiseDetail }"
  *ngIf="imagesFiles && imagesFiles.length > 0"
  class="carousel-container"
>
  <img
    *ngFor="let image of imagesFiles; let i = index"
    [lazyLoad]="'https://localhost:5001/' + image.highQuality"
    [defaultImage]="'https://localhost:5001/' + image.lowQuality"
    [errorImage]="'../../../assets/lazyPlaceholder.svg'"
    [alt]="i"
    [ngClass]="{
      'image-active': selectedIndex === i,
      advertiseDetaileImage: isInAdvertiseDetail
    }"
    loading="lazy"
  />
  <!-- <div class="overlay0"></div> -->
  <div [ngClass]="{ overlay1: !isInAdvertiseDetail }"></div>
  <div [ngClass]="{ overlay2: !isInAdvertiseDetail }"></div>
  <!-- <div [ngClass]="{ overlay3: !isInAdvertiseDetail }"></div> -->
  <div
    *ngIf="indicators && isMoreThanOneImageExist && imagesFiles.length < 11"
    class="carousel-dot-container"
  >
    <span
      *ngFor="let dot of imagesFiles; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectedImage(i)"
    ></span>
  </div>
  <div
    *ngIf="controls && isMoreThanOneImageExist"
    class="btn-carousel btn-prev"
  >
    <fa-icon
      class="icon-class justify-content-center align-item-center icon-carousel icon-prev"
      [icon]="icon.right"
      (click)="onPreviousClick()"
    ></fa-icon>
  </div>
  <div
    *ngIf="controls && isMoreThanOneImageExist"
    class="btn-carousel btn-next"
  >
    <fa-icon
      class="icon-class justify-content-center align-item-center icon-carousel icon-prev"
      [icon]="icon.left"
      (click)="onNextClick()"
    ></fa-icon>
  </div>
  <!-- <div *ngIf="indicators && imagesFiles.length > 10" class="carousel-dot-container">
    <span *ngFor="let dot of imagesFiles; let i = index" style="color: white">{{
      "عکس" + i + "از" + imagesFiles.length
    }}</span>
  </div> -->
</div>
