<!-- Fullscreen Expanded Image Modal -->
<div
  *ngIf="isImageExpanded"
  (click)="isImageExpanded = false"
  class="fullscreen-modal"
>
  <!-- Fullscreen Image -->
  <img
    [src]="'https://localhost:5001/' + imagesFiles[selectedIndex].highQuality"
    class="fullscreen-image"
    (click)="$event.stopPropagation()"
  />
  <div class="carousel-expand-container">
    <fa-icon
      class="icon-class icon-carousel"
      style="
        background-color: rgb(180 46 46);
        border-radius: 10px;
        display: flex;
        align-items: center;
      "
      [icon]="icon.exit"
      (click)="isImageExpanded = false"
      (click)="$event.stopPropagation()"
    ></fa-icon>
  </div>
  <!-- Controls in Fullscreen -->
  <ng-container *ngIf="controls && isMoreThanOneImageExist">
    <div class="btn-carousel btn-prev">
      <fa-icon
        class="icon-class icon-carousel"
        [icon]="icon.right"
        (click)="onPreviousClick()"
        (click)="$event.stopPropagation()"
      ></fa-icon>
    </div>
    <div class="btn-carousel btn-next">
      <fa-icon
        class="icon-class icon-carousel"
        [icon]="icon.left"
        (click)="onNextClick()"
        (click)="$event.stopPropagation()"
      ></fa-icon>
    </div>
  </ng-container>
</div>

<!-- Carousel Thumbnails -->
<div
  [ngClass]="{ AdvertiseDetailePageStyle: isInAdvertiseDetail }"
  *ngIf="imagesFiles?.length"
  class="carousel-container square-image-container"
>
  <!-- All Images -->
  <img
    class="square-image"
    *ngFor="let image of imagesFiles; let i = index"
    [lazyLoad]="'https://localhost:5001/' + image.highQuality"
    [defaultImage]="'https://localhost:5001/' + image.lowQuality"
    [errorImage]="'../../../assets/lazyPlaceholder.svg'"
    [alt]="i"
    [ngClass]="{
      'image-active': selectedIndex === i,
      'fade-in': selectedIndex === i,
      advertiseDetaileImage: isInAdvertiseDetail
    }"
    loading="lazy"
  />

  <!-- Indicators -->
  <div
    *ngIf="indicators && isMoreThanOneImageExist && imagesFiles.length < 11"
    class="carousel-dot-container"
  >
    <span
      *ngFor="let dot of imagesFiles; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectedImage(i)"
    ></span>
  </div>

  <!-- Expand Icon -->
  <div class="carousel-expand-container">
    <fa-icon
      class="icon-class icon-carousel"
      [icon]="icon.expand"
      *ngIf="AllowExpand"
      (click)="isImageExpanded = true"
    ></fa-icon>
  </div>

  <!-- Controls -->
  <ng-container *ngIf="controls && isMoreThanOneImageExist">
    <div class="btn-carousel btn-prev">
      <fa-icon
        class="icon-class icon-carousel"
        [icon]="icon.right"
        (click)="onPreviousClick()"
      ></fa-icon>
    </div>
    <div class="btn-carousel btn-next">
      <fa-icon
        class="icon-class icon-carousel"
        [icon]="icon.left"
        (click)="onNextClick()"
      ></fa-icon>
    </div>
  </ng-container>
</div>
