* {
  font-family: "nazanin", "Courier New", Courier, monospace !important;
  /* color: #080710 !important; */
  direction: rtl;
}
.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden !important;
  padding: 1px;

  /* box-shadow: 0 4px 8px #dce1e1; */
}
.carousel-container img {
  display: none;
  border-radius: inherit;
  /* border-radius: 0 0 48% 48%; */
}
.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: 98%;
}
/* overlay */
.overlay3 {
  position: absolute;
  /* clip-path: polygon(0 0, 100% 0, 100% 10%, 0 30%); */
  clip-path: polygon(50% 0%, 100% 20%, 100% 0);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  border-radius: inherit;
  /* background: #ffffff24; */
  background: rgba(201, 48, 63, 0.122);
  /* rgb(201, 48, 63),
  rgb(12, 102, 234) */
}
.overlay2 {
  position: absolute;
  /* clip-path: polygon(0 0, 100% 0, 100% 30%, 0 10%); */
  clip-path: polygon(0 0, 0 15%, 100% 0);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  /* border-radius: inherit; */
  /* background-color: #ffffff81; */
  background-color: rgb(255, 255, 255);
  /* background: linear-gradient(to bottom, #ffffff 1%, #fdfdfd6f 30%); */
  /* background: #ffffff; */
  /*  width: 350px;  */
  /* background: transparent;
  box-shadow: #d5bd00 -40px 0px 0 0;
  border-radius: 0 0 48% 48%; */
}
.blury {
  filter: blur(18px) !important;
}
.overlay1 {
  position: absolute;
  clip-path: polygon(0 97%, 100% 85%, 100% 100%, 0 100%);
  /* clip-path: polygon(100% 84%, 0 100%, 100% 100%); */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  /* background-color: #ffffff; */
  /* background: linear-gradient(to top, #ffffff 1%, #fdfdfd14 30%); */
  background: white;

  /* background: transparent;
  box-shadow: #0d2948 -55px 4px 0 12px;
  border-radius: 0 0 57% 34%; */
}
.overlay0 {
  position: absolute;
  clip-path: polygon(0 54%, 0% 100%, 24% 100%);
  /* clip-path: polygon(100% 84%, 0 100%, 100% 100%); */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff2d;

  /* background: transparent;
  box-shadow: #0d2948 -55px 4px 0 12px;
  border-radius: 0 0 57% 34%; */
}
.AdvertiseDetailePageStyle {
  /* border-radius: 1rem; */
  border-radius: 0.5rem !important;
  height: 100% !important;
  overflow: hidden !important;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* padding: 0.8rem; */
}
.advertiseDetaileImage {
  height: 100% !important;
}
/* dots indicators  */
.carousel-dot-container {
  position: absolute;
  left: 0;
  bottom: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  margin-bottom: 1rem;
  /* overflow: scroll; */
  /* stroke-width: 0; */
}
.dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 50%;
  background-color: rgba(187, 187, 187, 0.53);
  border: 2px solid rgb(187, 187, 187);
  transition: opacity 0.6s ease;
  opacity: 0.5;
}
.dot:hover,
.active {
  cursor: pointer;
  background-color: white !important;
  border: 2px solid white;
  opacity: 0.9;
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: white;
  text-align: center;
  background-color: 0 0;
  border: 0;
  cursor: pointer;
}
.btn-next {
  background-color: transparent;
  font-size: 1.5rem;
  left: 0;
}
.btn-prev {
  background-color: transparent;
  font-size: 1.5rem;
  /* border: 2px solid red; */
  right: 0;
}

.icon-carousel {
  color: white;
  opacity: 0.6;
  transition: all 0.5s ease;
}
.icon-carousel:hover {
  opacity: 0.9;
}
.icon-carousel:active {
  opacity: 0.6;
}
/* animate image slider */
.fade {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
