<!-- <div class="container-fluid p-3" style="height: 82vh">
  <div class="row justify-content-center p-3" style="height: 100%">
    <div
      class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 card p-3"
      style="height: 100%; overflow-y: auto"
    >
      <div class="card-body"> -->
<div class="container-fluid p-3">
  <div class="row justify-content-center p-3">
    <div class="col col-xs-10 col-sm-8 col-md-6 col-lg-4 card p-3" [@flipInOut]>
      <div class="card-body">
        <div class="card-title text-center mb-4">
          <h3 class="font-title">ورود <span class="brand-font">پلان</span></h3>
        </div>
        <div class="align-items-evenly">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row">
              <div class="mb-2">
                <!-- <app-text-input></app-text-input> -->
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>نام کاربری</mat-label>
                  <input
                    matInput
                    formControlName="username"
                    placeholder="نام کاربری"
                  />
                  <mat-error
                    *ngIf="
                      loginForm.get('username')?.invalid &&
                      (loginForm.get('username')?.dirty ||
                        loginForm.get('username')?.touched)
                    "
                  >
                    <span
                      *ngIf="loginForm.get('username')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="loginForm.get('username')?.errors?.['invalidNumber'] && !loginForm.get('username')?.errors?.['required']"
                      >نام کاربری را با فرمت درست وارد کنید</span
                    >
                  </mat-error>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="mb-2">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>کلمه عبور</mat-label>
                  <input
                    matInput
                    formControlName="password"
                    placeholder="کلمه عبور"
                    [type]="hidden ? 'password' : 'text'"
                  />
                  <button
                    type="button"
                    mat-icon-button
                    matSuffix
                    (click)="hidden = !hidden"
                  >
                    <mat-icon>
                      <fa-icon
                        class="icon-class"
                        [icon]="hidden ? show : hide"
                      ></fa-icon>
                    </mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      loginForm.get('password')?.invalid &&
                      (loginForm.get('password')?.dirty ||
                        loginForm.get('password')?.touched)
                    "
                  >
                    <span
                      *ngIf="loginForm.get('password')?.errors?.['required'] "
                      >این فیلد نباید خالی باشد.</span
                    >
                    <span
                      *ngIf="loginForm.get('password')?.errors?.['invalidNumber'] && !loginForm.get('password')?.errors?.['required']"
                      >کلمه عبور را با فرمت درست وارد کنید</span
                    >
                  </mat-error>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
              </div>
            </div>
            <div class="text-center" style="margin-top: 2rem">
              <app-action-btn-atom
                [btnOptions]="loginBtnOption"
                [ActionBtnClass]="'btn-primary my-button px-3'"
                [btnState]="!loginForm.valid"
              ></app-action-btn-atom>
              <!-- <div> -->
              <app-action-btn-atom
                [btnOptions]="signupLinkBtnOption"
                [ActionBtnClass]="'btn-success my-button px-1'"
                (btnClicked)="routeTO('signup')"
              ></app-action-btn-atom>
              <!-- <app-action-btn-atom
                  [btnOptions]="linkBtnOption_owner"
                  [ActionBtnClass]="'btn-outline-primary small-font no-border px-1'"
                  (btnClicked)="routeTO('signup', 'shop')"
                ></app-action-btn-atom> -->
              <!-- </div> -->
              <!-- <button type="submit" class="btn btn-primary px-3">ورود</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
