.root-parent-container {
  /* overflow: auto; */
  overflow: hidden;
  width: 100dvw;
  height: 100dvh !important;
  /* border: 2px solid red; */
  /* background-image: url("../assets/body6.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::-webkit-scrollbar {
  /* width: 10px; */
  width: 0;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #d55959;
}
.navbar-style {
  width: 100% !important ;
  display: flex !important ;
  flex-direction: column !important ;
  justify-content: flex-start !important ;
  align-items: center !important ;
  padding: 0.5rem !important ;
  height: auto; /* Allow div to grow in height */
  /* transition: height 0.3s ease !important ; Add smooth transition effect */
  max-height: calc(6rem - 1rem); /* Limit maximum height */
  /* border: 2px solid rgb(61, 138, 10); */
}
.router-outlet-container {
  align-self: center;
  padding: 0 0.5rem 0.5rem 0.5rem;
  width: 100%;
  height: calc(100vh - 4rem - 1rem - 0.5rem);
  /* padding-bottom: 0.5rem; */
  /* overflow-y: auto; */
  overflow: hidden;
  /* border: 2px solid rgb(186, 65, 32); */
}
