<!-- <p>{{ btnIsExitType }}</p> -->
<button
  type="{{ btnOption.btnType }}"
  class="btn m-1 {{ btnClass }}"
  (click)="btnClick(btnOption.btnType)"
  [disabled]="btnState"
>
  {{ btnOption.btnText }}
  <fa-icon
    *ngIf="icon"
    class="icon-class justify-content-center align-item-center"
    [icon]="icon"
  ></fa-icon>
</button>
<!-- <button
    type="button"
    class="btn btn-primary m-1 my-button"
    (click)="closeModal()"
  >
    <fa-icon
      class="icon-class justify-content-center align-item-center"
      [icon]="backIcon"
    ></fa-icon>
  </button>
  <button
    type="button"
    class="btn btn-danger m-1 my-button"
    (click)="closeModal()"
  >
    <fa-icon
      class="icon-class justify-content-center align-item-center"
      [icon]="exitIcon"
    ></fa-icon>
  </button> -->

<!-- <button
        class="btn btn-outline-danger justify-content-center align-item-center"
        (click)="closeModal()"
      >
        <fa-icon class="icon-class" [icon]="exitIcon"></fa-icon>
      </button> -->
