/* modal style start */
.uc-modal {
  z-index: 10 !important;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.199) !important;
}
.main-box-style {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 100vw;
  height: 100vh;
}
.uc-modal-content * {
  font-family: "Nazanin", "Courier New", Courier, monospace;
}
.uc-modal-content {
  background-color: white;
  /* border: 1px solid red; */
  height: 80%;
  margin: 50px auto;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}
.uc-modal-header {
  padding: 5px 15px;
  height: 3.5rem;
  width: 100%;
  font-family: "nazanin", "Courier New", Courier, monospace;
  background-color: rgba(225, 246, 252, 0.479);
  border-bottom: 1px solid #ced5f5;
  backdrop-filter: blur(10px);
  margin-bottom: 5px;
  padding: 10px;
}
.space-element-on-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.uc-modal-body {
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-evenl; */
  width: 100%;
  height: calc(100% - 3.5rem) !important;
}
/* .uc-modal-body::-webkit-scrollbar {
  width: 15px;
}

.uc-modal-body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.uc-modal-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #d55959;
} */
/* modal style end */
.title {
  font-size: 1.2rem;
  /* font-weight: bolder; */
}

/* ******* */
/* list */
.icon-class {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
}
.my-list-element {
  width: 100%;
  height: 4rem;
  cursor: pointer;
}
.my-list-cells {
  font-size: 1.3rem;
  font-weight: 500;
  height: 100%;
  width: 30%;
  /* border: 10px solid rgb(51, 255, 0); */
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 10px;
}
.province-name {
  width: 60% !important;
  justify-content: flex-start;
}
/* search input style */
.form__group {
  position: relative;
  padding: 17px 0;
  margin-top: 8px;
  width: 100%;
  margin-bottom: 0.7rem;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #474747;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 25px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #474747;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(12, 102, 234);
  font-weight: 700;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, rgb(201, 48, 63), rgb(12, 102, 234));
  border-image-slice: 1;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* demo
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
} */
