<!-- <p>{{ isModalOpen }}</p> -->

<div class="modal-custome" *ngIf="isModalOpen" [@fadeInOut]>
  <div class="uc-modal container-fluid">
    <div
      class="row justify-content-center align-item-center main-box-style"
      (click)="closeModal()"
    >
      <!--

       I want to close the modal when user click on outside of modal but it close the modal even when user click inside modal so I use:

       (click)="$event.stopPropagation()"
      
      -->
      <div
        class="col col-xs-10 col-sm-8 col-md-5 col-lg-4 uc-modal-content m-3"
        (click)="$event.stopPropagation()"
      >
        <div class="uc-modal-header space-element-on-side">
          <div class="col-xs-8 order-first title">
            {{ isSelectProvincesOpen ? "انتخاب استان" : "انتخاب شهر" }}
          </div>
          <div class="col-xs-8 order-last">
            <app-action-btn-atom
              [ActionBtnClass]="'btn-primary my-button'"
              *ngIf="!isSelectProvincesOpen"
              [btnOptions]="backOption"
              (btnClicked)="backwardModal()"
            ></app-action-btn-atom>
            <app-action-btn-atom
              [ActionBtnClass]="'btn-danger my-button'"
              [btnOptions]="exitOption"
              (btnClicked)="closeModal()"
            ></app-action-btn-atom>
          </div>
        </div>

        <div class="uc-modal-body">
          <!-- <p>انتخاب استانها</p> -->
          <div
            style="width: 100%"
            *ngIf="isSelectProvincesOpen; else cities"
            [@flipInOut]
          >
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
              <div
                class="my-list-element space-element-on-side"
                style="padding: 5px 10px"
              >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control m-1"
                    placeholder="جستجو"
                    formControlName="searchInput"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary m-1" type="submit">
                      جستجو
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <app-province-list-atm
              [provinces]="provinces"
              (provinceId)="setProvinceId($event)"
            ></app-province-list-atm>
          </div>

          <ng-template #cities>
            <div style="width: 100%" [@flipInOut]>
              <app-city-list-atm
                [province_id]="provinceId"
                (citySelected)="closeModal()"
              ></app-city-list-atm>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
