<p>{{ isModalOpen }}</p>

<div class="modal-custome" *ngIf="isModalOpen">
  <div class="uc-modal container-fluid">
    <div
      class="row justify-content-center align-item-center main-box-style"
      (click)="closeModal()"
    >
      <!--

       I want to close the modal when user click on outside of modal but it close the modal even when user click inside modal so I use:

       (click)="$event.stopPropagation()"
      
      -->
      <div
        class="col col-xs-10 col-sm-10 col-md-8 col-lg-6 uc-modal-content m-3"
        (click)="$event.stopPropagation()"
      >
        <div class="uc-modal-header space-element-on-side">
          <div class="col-xs-8 order-first title">
            {{ isSelectProvinces ? "انتخاب استان" : "انتخاب استان" }}
          </div>
          <div class="col-xs-8 order-last">
            <app-action-btn-atom
              *ngIf="!isSelectProvinces"
              [BtnType]="'back'"
            ></app-action-btn-atom>
            <app-action-btn-atom [BtnType]="'exit'"></app-action-btn-atom>
          </div>
        </div>

        <div class="uc-modal-body">
          <!-- <p>انتخاب استانها</p> -->
          <div
            *ngFor="let province of provinces"
            class="my-list-element space-element-on-side"
          >
            <div class="my-list-cells province-name">
              {{ province.province_name }}
            </div>
            <div class="my-list-cells icon-class">
              <fa-icon class="icon-class" [icon]="leftArrowIcon"></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
