ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 13px;
}

.row {
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: inherit;
}
.col {
  height: inherit;
}
.messages {
  overflow-y: auto;
}

.container {
  padding: 0;
  background-color: #e9e9e9;
  /* padding: 10px 0; */
  border-radius: 10px;
  height: 85vh;
  overflow: hidden;
}
.chat-room {
  background-image: url("../../../assets/عکس-پس-زمینه-چت.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 50%; */
}
.chat-rooms {
  padding-bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(201 48 63 / 25%),
    rgb(12 102 234 / 25%)
  );
  /* overflow-y: auto; */
  padding: 0 13px !important;
}
.seleted-chatroom {
  background-color: #60c965bc !important;
}
.chat-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* max-width: 600px;  */
  /* حداکثر عرض */
  margin: 0 auto; /* مرکز کردن */
  /* padding: 0 20px; */
  /* background-color: #f9f9f9; */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  /* overflow-y: auto;  */
  /* اسکرول برای چت */
  /* overflow-x: hidden; */
  /* height: 500px; */
  /* ارتفاع چت */
}

.message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  /* margin: 10px 0; */
  /* padding: 10px; */
  /* border-radius: 15px; */
  display: inline-block;
  max-width: 40%;
  clear: both; /* جلوگیری از همپوشانی */
}

.sent {
  /* رنگ پس‌زمینه پیام‌های ارسالی */
  background-color: #60c965;
  /* رنگ متن */
  color: #0b0b0b;
  max-width: 100%;
  word-wrap: break-word;

  /* background-color: #4caf50; */
  /* color: white; */
  float: right; /* سمت راست */
  text-align: right; /* متن راستچین */
}

.received {
  /* رنگ پس‌زمینه پیام‌های دریافتی */
  /* background-color: #e3e3e3; */
  background-color: #f2d060;
  max-width: 100%;
  word-wrap: break-word;

  color: black; /* رنگ متن */
  float: left; /* سمت چپ */
  text-align: left; /* متن چپچین */
}

.message-username {
  font-weight: bold; /* پررنگ بودن نام کاربر */
}

.message-content {
  margin: 5px 0; /* فاصله بین نام کاربر و متن */
}

.input-container {
  display: flex; /* برای قرار دادن دکمه و ورودی در یک خط */
  /* margin-top: 20px; */
}

.input-container input {
  flex: 1; /* ورودی به اندازه فضای موجود رشد کند */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
