<nav
  style="direction: rtl; min-height: 13vh"
  class="navbar navbar-expand-lg fixed-top custome-nav row align-items-center justify-content-center"
>
  <div class="container custome-container">
    <!-- <div class="container-fluid"> -->
    <a class="navbar-brand logo-class" [routerLink]="['/']">پلان</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse collapse"
      [ngClass]="{ show: isExpanded }"
      id="navbarCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            *ngIf="isShowRentAndBuyLinks"
            class="nav-link"
            [routerLink]="['/rent']"
            routerLinkActive="active"
            aria-current="page"
            routerLink=""
            (click)="toggleNavbar()"
            >اجاره منزل</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="isShowRentAndBuyLinks"
            class="nav-link"
            routerLink=""
            (click)="toggleNavbar()"
            >خرید منزل</a
          >
        </li>
        <li class="nav-item" *ngIf="!isUserLogedIn">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/login"
            (click)="toggleNavbar()"
            >ورود / ثبت نام</a
          >
        </li>
        <!-- drop down -->
        <li class="nav-item" *ngIf="isUserLogedIn">
          <a class="nav-link" routerLink="" (click)="toggleNavbar(); signOut()"
            >خروج
          </a>
        </li>
        <li class="nav-item" *ngIf="isSpecialUserLogedIn">
          <a
            class="nav-link"
            [routerLink]="['/createAdvertise']"
            routerLinkActive="active"
            (click)="toggleNavbar()"
            >حساب کاربری</a
          >
        </li>
        <!-- ---------- -->
      </ul>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control mx-2"
          type="search"
          placeholder="جستجو"
          aria-label="جستجو"
        />
        <button class="btn btn-outline-success" type="submit">جستجو</button>
      </form> -->
      <button
        [ngClass]="
          selectedCity
            ? 'btn btn-success justify-content-center align-items-center custome-button'
            : 'btn btn-outline-danger justify-content-center align-items-center custome-button'
        "
        type="button"
        (click)="openCities()"
        (click)="toggleNavbar()"
        [disabled]="isLoading"
      >
        <span *ngIf="!isLoading && !selectedCity">جستجوی شهر</span>
        <span *ngIf="!isLoading && selectedCity">{{
          selectedCity.cities
        }}</span>

        <app-loading-spinner
          *ngIf="isLoading && !selectedCity"
        ></app-loading-spinner>
      </button>
    </div>
  </div>
  <!-- </div> -->
</nav>
