.mark {
  background-color: transparent;
}
.mark::after {
  content: "*";
  color: red;
  margin: 0.3rem;
}

.details {
  /* text-align: right; */
  text-align: right;

  padding: 0.3rem 0.8rem 0.3rem 0;
  font-size: 0.8rem;
}
.simple-details {
  text-align: center !important;
  padding-right: 0 !important;
}
@media (min-width: 1200px) {
  .details {
    font-size: 0.925rem;
    padding: 0.6rem 1rem 0.6rem 0;
  }
  .card-title {
    font-size: 1.075rem;
  }
  .title > * {
    font-size: 0.925rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .details {
    font-size: 0.9rem;
  }
  .card-title {
    font-size: 1.075rem;
  }
  .title > * {
    font-size: 0.9rem;
  }
}

/*  Medium devices (tablets, 768px to 991px)  */
@media (min-width: 768px) and (max-width: 991px) {
  .details {
    font-size: 0.8rem;
  }
  .card-title {
    font-size: 0.875rem;
  }
  .title > * {
    font-size: 0.875rem;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .details {
    font-size: 0.8rem;
  }
  .card-title {
    font-size: 0.875rem;
  }
  .title > * {
    font-size: 0.875rem;
  }
}
