* {
  font-family: "IranianSans", "nazanin", "Courier New", Courier, monospace !important;

  /* margin: 0;
  padding: 0; */
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.viewport-detail {
  /* height: 78dvh; */
  height: 87dvh;
  /* overflow-y: auto; */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory !important;
  /* border-radius: 4% 3% 2% 1% / 4% 3% 2% 1%; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  direction: ltr;
  /* width: calc(100% - 2rem); */
  width: 100%;
  /* padding: 0 0.8rem !important; */
  /* border: 1px solid red; */
  /* margin: 0 1rem; */
}
.row-seprator-margin {
  margin: 0.3rem 0rem;
}
.viewport-detail::-webkit-scrollbar {
  /* width: 15px; */
  width: 0;
  float: left;
  background-color: transparent;
  /* width: 0; */
}

.viewport-detail::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  border: 0px;
}

.viewport-detail::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgba(106, 106, 71, 0.818);
  background-clip: content-box;
  background-color: #0606063e;
}
.advertiseData {
  /* padding: 0.8rem; */
  background-color: transparent;
  border: 0;
  /* padding: 1.3rem; */
  padding-top: 0;
}
.card-body {
  cursor: pointer;
  /* cursor: default; */
  padding: 0;
  height: inherit;
  /* overflow: auto; */
  /* border-radius: 1rem; */
  /* background-color: rgb(237 245 247 / 38%);
  border: 1px solid #e2e5f5;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(33px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* background-color: #f1f3f5 !important; */
}
.title {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  /* margin: 1.5rem 0.8rem 0 0 !important; */
  padding: 0 0.8rem;
}
.titlise-box {
  background-color: rgb(236 236 236 / 44%);
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.margin-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.seprator {
  border: 1px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgba(61, 61, 61, 0.253),
    rgba(255, 255, 255, 0)
  );
  /* margin: 0.5rem 0.8rem; */

  border-width: 1px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.border-gradient {
  border: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(
    to left,
    rgb(201 48 63 / 12%) 1%,
    rgb(12 102 234 / 15%) 65%,
    rgba(255, 255, 255, 0) 98%
  );
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.mark {
  background-color: transparent;
}
.mark::after {
  content: "*";
  color: red;
  margin: 0.3rem;
}

.details {
  /* text-align: right; */
  text-align: right;

  padding: 0.3rem 0.8rem 0.3rem 0;
  font-size: 0.8rem;
}
.simple-details {
  text-align: center !important;
  padding-right: 0 !important;
}
.card-title {
  /* font-family: "sogand", "Courier New", Courier, monospace !important; */
  font-size: 0.875rem !important;
  font-weight: bold;
  text-shadow: 2px 4px 3px rgba(46, 46, 46, 0.138);
  text-align: right;
}
.carousel-container-box {
  aspect-ratio: 1/1 !important;
  width: 100% !important;
}
