* {
  font-family: "IranianSans", "nazanin", "Courier New", Courier, monospace !important;

  margin: 0;
  padding: 0;
}

.viewport-detail {
  height: 78vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory !important;
  /* border-radius: 4% 3% 2% 1% / 4% 3% 2% 1%; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  direction: ltr;
  width: calc(100% - 2rem);
  /* padding: 0 0.8rem !important; */
  /* border: 1px solid red; */
  margin: 0 1rem;
}

.viewport-detail::-webkit-scrollbar {
  width: 15px;
  float: left;
  background-color: transparent;
  /* width: 0; */
}

.viewport-detail::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
  border: 0px;
}

.viewport-detail::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid rgba(106, 106, 71, 0.818);
  background-clip: content-box;
  background-color: #0606063e;
}
.advertiseData {
  /* padding: 0.8rem; */
  background-color: transparent;
  border: 0;
  padding: 1.3rem;
}
.card-body {
  cursor: pointer;
  /* cursor: default; */
  padding: 0;
  height: inherit;
  /* overflow: auto; */
  /* border-radius: 1rem; */
  /* background-color: rgb(237 245 247 / 38%);
  border: 1px solid #e2e5f5;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(33px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* background-color: #f1f3f5 !important; */
}
.title {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 1.5rem 0.8rem 0 0 !important;
  padding: 0 0.3rem;
  /* padding: 0 0.8rem 0.2rem 0; */
}
.margin-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.seprator {
  border: 1px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(61, 61, 61),
    rgba(255, 255, 255, 0)
  );
  margin: 0.5rem 0.8rem;

  border-width: 1px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.border-gradient {
  border: 3px solid;
  border-image-slice: 1;
  border-width: 3px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(
    to left,
    rgb(201, 48, 63) 2%,
    rgb(12, 102, 234) 33%,
    rgba(255, 255, 255, 0) 99%
  );
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.mark {
  background-color: transparent;
}
.mark::after {
  content: "*";
  color: red;
  margin: 0.3rem;
}

.details {
  text-align: right;
  padding: 0.3rem 0.8rem 0.3rem 0;
  font-size: 1rem;
}
.card-title {
  /* font-family: "sogand", "Courier New", Courier, monospace !important; */
  font-size: 1.1rem !important;
  font-weight: bold;
  text-shadow: 2px 4px 3px rgba(46, 46, 46, 0.138);
  text-align: right;
}
