<nav class="navbar navbar-expand-lg bg-light rtl-dir">
  <div class="container-fluid custome-header">
    <!-- <div class="col justify-content-evenly"> -->
    <a class="navbar-brand" [routerLink]="'home'">پلان</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse container custome-width-8"
      id="navbarCollapse"
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsed"
    >
      <ul class="navbar-nav ml-auto custome-ul">
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li
          class="nav-item"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="!isTokenExist"
          [@slideRightInOut]
        >
          <a class="nav-link" [routerLink]="'login'" aria-current="page"
            >ورود / ثبت نام</a
          >
        </li>
        <li
          class="nav-item"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="isTokenExist"
          [@slideRightInOut]
        >
          <a class="nav-link" [routerLink]="'advertise'" aria-current="page"
            >درج آگهی</a
          >
        </li>
        <li class="nav-item" *ngIf="isTokenExist" [@slideRightInOut]>
          <a class="nav-link" (click)="logout()" aria-current="page">خروج</a>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            (click)="openModal()"
            [ngClass]="{
              'btn-outline-danger': !cityData || cityData.city_name == '',
              'btn-success': cityData && cityData.city_name != ''
            }"
            [@changeButtonClass]="buttonState"
          >
            {{ cityData ? cityData.city_name : "انتخاب شهر" }}
          </button>
        </li>
      </ul>
    </div>
    <!-- </div> -->
  </div>
</nav>
