<!-- <p>common works!</p> -->
<ng-container [formGroup]="form"
  ><h3>مشحصات کلی مغازه</h3>
  <div formGroupName="commonFields" class="row mb-3">
    <!-- House Meter -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>متراژ مغازه</mat-label>
        <!-- <mat-label *ngIf="advertiseType === 'rent'">متراژ واحد</mat-label> -->
        <input
          formControlName="storeMeter"
          matInput
          placeholder="متراژ مغازه (بدون در نظر گرفتن بالکن)"
          (input)="hint(storeMeter, 'storeMeter')"
          #storeMeter
          (keypress)="onKeyPress_onlyNumber($event)"
        />
        <mat-error
          *ngIf="
            form.get('commonFields.storeMeter')?.invalid &&
            (form.get('commonFields.storeMeter')?.dirty ||
              form.get('commonFields.storeMeter')?.touched)
          "
        >
          <span
            *ngIf="form.get('commonFields.storeMeter')?.errors?.['required']"
          >
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('commonFields.storeMeter')?.errors?.['invalidNumber'] && !form.get('commonFields.storeMeter')?.errors?.['required']"
          >
            متراژ را به عدد وارد کنید.
          </span>
        </mat-error>
        <mat-hint *ngIf="hintStoreMeter">{{ hintStoreMeter }}</mat-hint>
      </mat-form-field>
    </div>

    <!-- Store Type -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>نوع مغازه</mat-label>
        <mat-select
          (selectionChange)="determineStoreType($event)"
          formControlName="storeType"
          placeholder="نوع مغازه"
        >
          <mat-option
            *ngFor="let storeStateType of storeTypes"
            [value]="storeStateType.value"
          >
            {{ storeStateType.desc }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('commonFields.storeType')?.invalid &&
            (form.get('commonFields.storeType')?.dirty ||
              form.get('commonFields.storeType')?.touched)
          "
        >
          <span
            *ngIf="form.get('commonFields.storeType')?.errors?.['required']"
          >
            این فیلد نباید خالی باشد.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- اسم پاساژ -->
    <div
      *ngIf="(storeType && storeType === 'pasajh') || storeType === 'majmoeh'"
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label> نام پاساژ</mat-label>
        <input
          formControlName="pasajhName"
          matInput
          placeholder="نام پاساژ"
          (keypress)="onKeyPress_onlyPersianLettersAndSpace($event)"
        />
        <mat-error
          *ngIf="
            form.get('commonFields.pasajhName')?.invalid &&
            (form.get('commonFields.pasajhName')?.dirty ||
              form.get('commonFields.pasajhName')?.touched)
          "
        >
          <span
            *ngIf="form.get('commonFields.pasajhName')?.errors?.['required'] "
            >این فیلد نباید خالی باشد.</span
          >
          <span
            *ngIf="form.get('commonFields.pasajhName')?.errors?.['invalidPersianLetter'] && !form.get('commonFields.pasajhName')?.errors?.['required']"
            >نام پاساژ را به فارسی وارد کنید.</span
          >
        </mat-error>
      </mat-form-field>
    </div>

    <!-- اسم مجموعه -->
    <div
      *ngIf="storeType && storeType === 'majmoeh'"
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>نام مجموعه</mat-label>
        <input
          formControlName="majmoehName"
          matInput
          placeholder="نام مجموعه"
          (keypress)="onKeyPress_onlyPersianLettersAndSpace($event)"
        />
        <mat-error
          *ngIf="
            form.get('commonFields.majmoehName')?.invalid &&
            (form.get('commonFields.majmoehName')?.dirty ||
              form.get('commonFields.majmoehName')?.touched)
          "
        >
          <span
            *ngIf="form.get('commonFields.majmoehName')?.errors?.['required'] "
            >این فیلد نباید خالی باشد.</span
          >
          <span
            *ngIf="form.get('commonFields.majmoehName')?.errors?.['invalidPersianLetter'] && !form.get('commonFields.majmoehName')?.errors?.['required']"
            >نام مجموعه را به فارسی وارد کنید.</span
          >
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Floor -->
    <div
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
      *ngIf="
        advertiseType &&
        storeType &&
        (storeType === 'pasajh' || storeType === 'majmoeh')
      "
      [@slideRightInOut]
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{
          advertiseType === "rent" ? "طبقه مغازه اجاره" : "طبقه مغازه فروشی"
        }}</mat-label>
        <input
          formControlName="floor"
          matInput
          placeholder="{{
            advertiseType === 'rent' ? 'طبقه مغازه اجاره' : 'طبقه مغازه فروشی'
          }}"
        />
        <mat-error
          *ngIf="
            form.get('commonFields.floor')?.invalid &&
            (form.get('commonFields.floor')?.dirty ||
              form.get('commonFields.floor')?.touched)
          "
        >
          <span *ngIf="form.get('commonFields.floor')?.errors?.['required']">
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('commonFields.floor')?.errors?.['invalidNumber'] && !form.get('commonFields.floor')?.errors?.['required']"
          >
            طبقه مغازه را به عدد وارد کنید.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Has Elevator -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox class="align-item-center mx-2" formControlName="hasElevator"
        >آسانسور دارد؟</mat-checkbox
      >
    </div>
    <!-- Has Restroom -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox
        class="align-item-center mx-2"
        formControlName="hasRestroom"
      >
        سرویس بهداشتی دارد؟</mat-checkbox
      >
    </div>
    <!-- Has Ceramic -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox class="align-item-center mx-2" formControlName="hasCeramic">
        سرامیک شده؟</mat-checkbox
      >
    </div>

    <!-- Has Parking -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox
        class="align-item-center mx-2"
        #ParkingCheckbox
        (change)="hasParking = ParkingCheckbox.checked"
        (change)="determineParkingMeterValidator(ParkingCheckbox.checked)"
        formControlName="hasParking"
        >پارگینگ دارد؟</mat-checkbox
      >
    </div>

    <!-- parking -->
    <div
      *ngIf="hasParking"
      @slideRightInOut
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>پارکینگ مغازه</mat-label>
        <mat-select formControlName="parkingType" placeholder="پارکینگ مغازه">
          <mat-option
            *ngFor="let parkingType of parkingTypes"
            [value]="parkingType.value"
          >
            {{ parkingType.desc }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('commonFields.parkingType')?.invalid &&
            (form.get('commonFields.parkingType')?.dirty ||
              form.get('commonFields.parkingType')?.touched)
          "
        >
          <span
            *ngIf="form.get('commonFields.parkingType')?.errors?.['required']"
          >
            این فیلد نباید خالی باشد.
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Has Balconye -->
    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3">
      <mat-checkbox
        class="align-item-center mx-2"
        #balconyeCheckbox
        (change)="hasBalconye = balconyeCheckbox.checked"
        (change)="determineBalconyeMeterValidator(hasBalconye)"
        formControlName="hasBalconey"
        >بالکن دارد؟</mat-checkbox
      >
    </div>

    <!-- Balconye Meter -->
    <div
      class="col col-xs-12 col-sm-6 col-md-6 col-lg-4 p-3"
      *ngIf="hasBalconye"
      @slideRightInOut
    >
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>متراژ بالکن</mat-label>
        <input
          formControlName="balconyeMeter"
          matInput
          placeholder="متراژ بالکن "
          (input)="hint(balconyeMeter, 'balconyeMeter')"
          #balconyeMeter
          (keypress)="onKeyPress_onlyNumber($event)"
        />
        <mat-error
          *ngIf="
            form.get('commonFields.balconyeMeter')?.invalid &&
            (form.get('commonFields.balconyeMeter')?.dirty ||
              form.get('commonFields.balconyeMeter')?.touched)
          "
        >
          <span
            *ngIf="form.get('commonFields.balconyeMeter')?.errors?.['required']"
          >
            این فیلد نباید خالی باشد.
          </span>
          <span
            *ngIf="form.get('commonFields.balconyeMeter')?.errors?.['invalidNumber'] && !form.get('commonFields.balconyeMeter')?.errors?.['required']"
          >
            متراژ بالکن را به عدد وارد کنید.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-hint *ngIf="hintBalconyeMeter">{{ hintBalconyeMeter }}</mat-hint>
    </div>
  </div></ng-container
>
